 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.hero-bg {
  background-image: url('../assets/study-group-african-people 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.txt{
    background: var(--Purple-blend, linear-gradient(233deg, #ED7884 -127.38%, #9055FF 108.2%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-txt{
  background: var(--Yellow-and-Gold, linear-gradient(46deg, #FFA600 28.24%, #F70 84.64%, #FF2A00 116.48%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: relative;
}
.hero-txt::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 8px;
  background: var(--Yellow-and-Gold, linear-gradient(46deg, #FFA600 28.24%, #F70 84.64%, #FF2A00 116.48%));
  border-radius: 2px;
}
.admission-container{
  background: var(--Soft-White, #FEFFFB);
  margin: 2rem auto;
}
.form-container{
  background-image: url('../assets/image 6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.subscribe-form{
padding: 3px 4px 4px 20px;
background: var(--Purple-blend, linear-gradient(233deg, #ED7884 -127.38%, #9055FF 108.2%));
}
.download-btn{
  transition: all ease-in-out 0.4s;
}
.download-btn:hover{
  opacity: 0.9;
}
.email-input{
  color: var(--primary-100, #F1F1F1);
  font-family: "Arial";
}
.submit-btn{
background: var(--Purple-blend, linear-gradient(233deg, #B70AF0 -127.38%, #28252A -9.59%, #69068A 108.2%));
transition: all ease-in-out 0.4s;
}
.submit-btn:hover{
  opacity: 0.7;
}