@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --color-white: #fff;
  --color-black: #000;
  --color-gray-700: #374151;
  --color-gray-300: #d1d5db;
  --color-primary-color: #facc15;
  --color-pink: #ed7884;
  --color-purple: #9055ff;
  --color-custom-color: #faf7fb;
  --color-working-hour-bg: linear-gradient(
    66deg,
    #d30000 -71.32%,
    #222 116.26%
  );
  --color-gray-700: #374151;
  --color-quiz-bg-gradient: linear-gradient(
    200.77deg,
    #f5d3d7 -4.88%,
    #ffffff 53.65%,
    #ceb3ff 104.72%
  );
  --color-purple-blend: linear-gradient(
    233.38deg,
    #ed7884 -127.38%,
    #9055ff 108.2%
  );
  --color-lavender-light: #eee9ff;
  --color-off-white: #fafafa;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: 'Space Grotesk';
    /* overflow-x: hidden; */
  }
}

@layer utilities {
  /* dashboard */
  .nav-btns {
    background: var(--color-purple-blend);
  }
  /* quiz */
  .quiz-background {
    @apply py-20 md:py-0 md:min-h-screen flex items-center justify-center;
    background: var(--color-quiz-bg-gradient);
  }

  .quiz-container {
    @apply w-[95%] md:max-w-[80%];
  }

  /* quiz heading */
  .quiz-heading-container {
    @apply text-center mb-5 md:mb-7 lg:mb-10;
  }

  .quiz-heading-title {
    @apply mb-2 md:mb-4;
  }

  .quiz-purple-blend-text {
    background: linear-gradient(
      233deg,
      var(--color-pink) -127.38%,
      var(--color-purple) 108.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .quiz-heading-text {
    @apply text-[26px] md:text-4xl font-bold;
  }

  .quiz-heading-paragraph {
    @apply text-base md:text-lg text-[var(--color-gray-700)];
  }

  /* quiz subjects */
  .quiz-subject-btn-container {
    @apply flex justify-center items-center flex-wrap gap-x-4 gap-y-4 md:gap-y-6 lg:gap-y-8;
  }

  .quiz-subject-btn {
    @apply relative inline-flex items-center justify-center min-w-[80%] md:min-w-50 min-h-13 bg-transparent text-black rounded-[18px] border border-transparent overflow-hidden;
    background:
      linear-gradient(white, white) padding-box,
      linear-gradient(
          233deg,
          var(--color-pink) -127.38%,
          var(--color-purple) 108.2%
        )
        border-box;
    transition: color 0.3s ease;
  }

  .quiz-subject-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      233deg,
      var(--color-pink) -127.38%,
      var(--color-purple) 108.2%
    );
    transform: scaleX(0);
    transform-origin: var(--origin, left); /* dynamic origin */
    transition: transform 0.4s ease;
    z-index: 0;
  }

  .quiz-subject-btn.hover-in::before {
    transform: scaleX(1);
  }

  .quiz-subject-btn.hover-out::before {
    transform: scaleX(0);
  }

  .quiz-subject-btn span,
  .quiz-subject-btn svg {
    position: relative;
    z-index: 1;
  }

  .quiz-subject-btn.hover-in,
  .quiz-subject-btn:hover {
    color: #fff;
  }

  .quiz-subject-btn.selected {
    color: #fff; /* same as hover text */
  }

  .quiz-subject-btn.selected::before {
    transform: scaleX(1); /* keep the gradient expanded */
  }

  /* .quiz-subject-btn.selected {
    border: 2px solid var(--color-purple); 
  } */

  .quiz-subject-btn-icn {
    @apply w-5 h-5;
  }

  .quiz-subject-btn-label {
    @apply text-[17px];
  }

  /* quiz begin study */
  .quiz-begin-study-btn-container {
    @apply flex justify-center mt-5 md:mt-7 lg:mt-10;
  }

  .quiz-begin-study-btn {
    @apply relative inline-flex items-center justify-center min-w-[80%] md:min-w-50 min-h-13 bg-transparent text-black rounded-[18px] overflow-hidden;
    background: linear-gradient(233deg, #ed7884 -127.38%, #9055ff 108.2%);
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
  }

  .quiz-begin-study-btn:hover {
    opacity: 0.8;
  }

  /* loading modal */
  .loading-modal-container {
    @apply fixed inset-0 bg-[#4e4b4b]/50 flex items-center justify-center z-50;
  }

  /* quiz question */
  .quiz-question-container {
    @apply w-full max-w-7xl p-5 grid grid-cols-1 md:grid-cols-2  lg:grid-cols-3 gap-8 bg-[var(--color-off-white)];
  }

  .quiz-question-title {
    @apply text-2xl font-extrabold;
  }

  .quiz-question-subject {
    @apply mt-4 text-3xl font-semibold text-[var(--color-black)];
  }

  /* question card */
  .question-card-container {
    @apply mb-6 rounded-xl;
  }

  .question-card-question {
    @apply text-lg font-bold leading-relaxed mb-[-10px];
  }

  .question-option-btn {
    @apply w-full flex items-center space-x-3 p-4 rounded-lg transition-transform;
  }

  .question-option-btn-default {
    @apply bg-[var(--color-lavender-light)];
  }

  .question-option-btn-selected {
    @apply bg-[color-lavender-light] transform scale-[1.01] border-1;

    border-color: var(--color-purple);
  }

  .question-option-btn-default:hover {
    position: relative;
    z-index: 0;
    cursor: pointer;
  }

  .question-option-btn-default:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px; /* border thickness */
    border-radius: 0.5rem; /* match rounded-lg */
    background: linear-gradient(
      233deg,
      var(--color-pink) -127.38%,
      var(--color-purple) 108.2%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }

  .question-option {
    @apply text-lg font-bold;
  }

  .question-navigation-container {
    @apply flex justify-between mt-8 pt-4 border-t;
  }

  .question-navigation-btn {
    @apply hover:cursor-pointer;
    background: linear-gradient(233deg, #ed7884 -127.38%, #9055ff 108.2%);
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
  }

  .question-navigation-btn:hover {
    opacity: 0.8;
  }

  .questions-answered-card {
    @apply rounded-2xl p-6 text-white;
    background: var(--color-purple-blend);
  }

  /* dashboard */
  @media (min-width: 1280px) and (max-width: 1500px) {
    .dashboard-container {
      display: flex;
      flex-direction: column;
    }

    .calendar-container {
      display: flex;
      flex-direction: row;
    }
  }
}
