@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --color-white: #fff;
  --color-black: #000;
  --color-gray-700: #374151;
  --color-gray-300: #d1d5db;
  --color-primary-color: #facc15;
  --color-pink: #ed7884;
  --color-purple: #9055ff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  body {
    font-family: 'Space Grotesk';
  }
}

@layer utilities {
  /* about */
  .about-container {
    @apply w-[90%] md:w-[85%] mx-auto py-4;
  }

  .banner-container {
    @apply relative h-24 md:h-54 lg:h-74;
  }

  .banner-img {
    @apply w-full h-full object-cover;
  }

  .banner-overlay-container {
    @apply absolute inset-0 flex items-center pl-8 sm:pl-12 md:pl-20;
  }

  .banner-side-bar {
    @apply w-1.5 h-8 sm:h-10 md:h-12 bg-[var(--color-primary-color)];
  }

  .banner-title {
    @apply text-[var(--color-primary-color)] text-xl md:text-3xl lg:text-4xl font-bold;
  }

  .banner-text-container {
    @apply flex items-center space-x-2;
  }

  /* about-hero */
  .about-hero {
    @apply my-5 md:my-10;
  }

  .about-hero-text-container {
    @apply text-center mb-5 lg:mb-10;
  }

  .about-head-title-color {
    background: linear-gradient(
      233deg,
      var(--color-pink) -127.38%,
      var(--color-purple) 108.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .about-head-title-text {
    @apply text-2xl md:text-4xl lg:text-5xl font-bold mb-0 md:mb-2;
  }

  .about-head-title-paragraph {
    @apply text-lg md:text-xl font-semibold;
  }

  .about-hero-container {
    @apply flex flex-col lg:flex-row w-[100%] lg:space-x-12 space-y-10 items-center;
  }

  .about-hero-content {
    @apply w-full lg:w-1/2;
  }

  .about-hero-content-paragraph {
    @apply md:leading-relaxed md:text-justify;
  }

  .chevron {
    @apply -translate-y-1/2 bg-white/80 p-1 rounded-full shadow absolute top-1/2 cursor-pointer hover:bg-blue-500;
  }

  /* faq */
  .faq-container {
    @apply bg-[var(--primary)] text-white p-4  md:p-8 lg:p-16 flex flex-col lg:flex-row items-start lg:items-center justify-between;
  }

  .faq-content-left {
    @apply lg:w-1/2 mb-5 lg:mb-0 lg:pr-12;
  }

  .faq-content-right {
    @apply lg:w-1/2 w-full;
  }

  .faq-content-left-title {
    @apply text-4xl text-center lg:text-start md:text-5xl font-bold mb-4;
  }

  .faq-accordion-container {
    @apply w-full space-y-2 md:space-y-5;
  }

  .faq-accordion-trigger {
    @apply cursor-pointer md:text-xl text-left duration-200;
  }

  .faq-accordion-content {
    @apply text-[var(--color-gray-300)] px-6 py-4;
  }
}
